.header{
 background-color: #03c9a8;
 height: 50px;
 font-family: "Baskerville Old Face";
 font-size: 20px;
 text-align: center;
 padding: 10px;
}
.header a{
	color:#ffffff;
}
.edite a{
	color:#03c9a8;
	 font-size: 25px;
	
}
.delete a{
	color:#fc456e;
	 font-size: 25px;
	
}
.header a.hover{
	color: #f8ce01;
}
.icon_login{
	text-align: center;
	margin-top: 8px;
	color: #8668fa;
	font-size: 100px;
}
.contener_login{
	height: 300px;
	margin-top: -30px;
	background-color:#e1e6fa;
	border-radius: 5%;
}
.containt_login{
	text-align: center;
	padding: 50px;
}
.titre{
	 font-family: "Baskerville Old Face";
	 font-size: 20px;
	 text-align: center;
	 margin: 20px;
	 color: black;
}