.header{
 background-color: #03c9a8;
 height: 50px;
 font-family: "Baskerville Old Face";
 font-size: 20px;
 text-align: center;
 padding: 10px;
}
a{
	color:#ffffff;
}
a.hover{
	color: #f8ce01;
}
.icon_login{
	text-align: center;
	margin-top: 10px;
	margin-left: 230px;
	padding: 20px;
	background-color: #8668fa;
	font-size: 25px;
	color: #ffffff;
	width: 300px;
	height: 50px;
	border-radius: 5%;
}
.contener_login{
	height: 400px;
	padding-top: 5px;
	margin-top: 2px;
	background-color:#e1e6fa;
	border-radius: 5%;
}
.containt_login{
	text-align: center;
	padding: 20px;
}
.titre{
	 font-family: "Baskerville Old Face";
	 font-size: 20px;
	 text-align: center;
	 margin: 20px;
	 color: black;
}
.contener_insertion_Note{
	height: 350px;
	margin-top: 2px;
	padding-top: 5px;
	background-color:#e1e6fa;
	border-radius: 5%;
}